
{:pom {:group-id "mvc-works",
       :artifact-id "lilac",
       :version "0.1.0-a3",
       :name "Some validation functions"}
 :packaging {:jar {:enabled true
                   :remote-repository {:id "clojars"
                                       :url "https://clojars.org/repo"}}}
 :scm {:enabled true}}
