{
  :source-paths ["src" "macro"]
  :repositories {
    "central" {:url "https://maven.aliyun.com/nexus/content/groups/public/"}
    "clojars" {:url "https://mirrors.ustc.edu.cn/clojars/"}
  }
  :dependencies [
    [medley "1.2.0"]
  ]
  :builds {
    :app {
      :target :node-script, :output-to "target/server.js", :main lilac.main/main!
      :devtools {:after-load lilac.main/reload!}
    }
  }
}